/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*start*/
* {
	box-sizing: border-box;
}

html {
	font-family: 'Nanum Gothic', sans-serif;
	font-size: 62.5%;
	font-weight: 400;
}

/* solution display:flex

body {
    background-color: #edf5ff;
    min-height: 100vh;
	width: 100vw;
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	position: relative;
}

.calculator {
	width: 28rem;
}

.screen {
	background-color: #404045;
	width: 100%;
	height: 10rem;
	padding: 15px;
	padding-bottom: 10px;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	border-top-left-radius: 1rem;
	border-top-right-radius: 1rem;
}

.operationScreen {
	color: #e6e6e5;
	font-size: 5rem;
}

.buttons {
	display: flex;
    flex-wrap: wrap;
	width: 100%;
}

.buttons input{
	background-color: #75777e;
	color: #e6e6e5;
	font-size: 2.5rem;
    outline: none;
	border: solid .8px #404045;
	width: 7rem;
	height: 6rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

input[data-zero] {
	width: 14rem;
	border-bottom-left-radius: 1rem;
} */

/* solution display:grid */

body {
    background-color: #edf5ff;
    min-height: 100vh;
	width: 100vw;
	display: grid;
    justify-content: center;
    align-items: center;
}

.calculator {
	display: grid;
	grid-template-rows: 1fr 3fr;
	min-width: 30rem;
	min-height: 45rem;
}

.screen {
	background-color: #404045;
	padding: 15px;
	padding-bottom: 10px;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	border-top-left-radius: 1rem;
	border-top-right-radius: 1rem;
}

.operationScreen {
	color: #e6e6e5;
	font-size: 5rem;
	max-width: 25rem;
}

.buttons {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

.buttons input {
	background-color: #75777e;
	outline: none;
	border: solid .8px #404045;
	color: #e6e6e5;
	font-size: 2.5rem;
}

input[data-zero] {
	grid-column: 1 /span 2;
	border-bottom-left-radius: 1rem;
}

/* unchanged part */

#equal {
	border-bottom-right-radius: 1rem;
}

#clear, #pm, #percent {
	background-color: #565759;
}

#plus, #minus, #multi, #divide, #equal {
	background-color: #F2A33C;
	font-size: 4rem;
}

.buttons input:active {
	background-color: #b0b3be;
}

#clear:active, #pm:active, #percent:active, #equal:active {
background-color: #75777e ;
}

#plus:active, #minus:active, #multi:active, #divide:active, #equal:active {
	background-color: #c48432;
}